.section-img {
  width: 70rem;
}

.section-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid green;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid blue;
}
.main-box article {
  width: 25%;
  border: solid fuchsia;
}

main p {
  text-align: center;
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid red;
}

.side-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 10rem;
  border: 10px solid aqua;
  position: relative;
  left: 40rem;
}

.side-box img {
  width: 5rem;
}

.inflation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid blueviolet;

  width: 70rem;
  height: 50rem;
}

.inflation-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 70rem;
  background: url(images/inflation-1.png) no-repeat;
  background-size: 70rem;
  height: 50rem;
}

.inflation-img span {
  margin-top: 10rem;
}

.inflation-description {
  display: flex;
  width: 15rem;
}
