header {
  background-color: hotpink;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  /* position: fixed; */
  margin-left: -5px;
  margin-right: 0;
  flex: 1;
  height: 50px;
}

main {
  background-color: aqua;
  display: grid;
}

footer {
  background-color: red;
}

.heder-grid {
  display: grid;
  grid-area: header;
}

.main-grid {
  display: grid;
  grid-area: main;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-grid {
  display: grid;
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main-pic {
  background-color: lime;
}

.article {
  background-color: mediumblue;
  display: grid;
  /* grid-template-columns: 3fr 1fr; */
  /* grid-template-areas:
    "article aside"
    "article aside"; */
}

.section {
  background-color: mediumseagreen;
}

.article-1 {
  display: flex;
  background-color: rebeccapurple;
  /* grid-area: article; */
  width: 40%;
  margin: 0 auto;
}

.aside {
  background-color: saddlebrown;
  /* grid-area: aside; */
  display: flex;
  /* float: right; */
  width: 120px;
}

.main-pic {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.main-img {
  text-align: center;
}

figure {
  width: 70%;
  margin: 0 auto;
}

figure figcaption {
  text-align: start;
}
